
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* Your own custom component styles */

@import 'tailwindcss/utilities';

:root {
    /*
    *
    * This all are the rgb values which are used inside the
    * tailwind config file and custom plugins css file
    *
    */

    /*
    * primary color
    */
    --color-accent: 0, 159, 127;

    /*
    * Hover state color of primary color
    */
    --color-accent-hover: 1, 147, 118;

    /*
    * shade of primary color
    */
    --color-accent-300: 153, 217, 204;

    /*
    * shade of primary color
    */
    --color-accent-400: 77, 188, 165;

    /*
    * shade of primary color
    */
    --color-accent-500: 0, 159, 127;

    /*
    * shade of primary color
    */
    --color-accent-600: 0, 143, 114;

    /*
    * shade of primary color
    */
    --color-accent-700: 0, 119, 95;

    --color-border-base: 209, 213, 219;
}

html {
	scrollbar-width: thin;
	scrollbar-color: rgba(33, 43, 40, 0.2);
	}
	body::-webkit-scrollbar {
	  width: 8px;
	}
	body::-webkit-scrollbar-track {
	  background: rgba(33, 43, 40, 0.2);
	}
	
	body::-webkit-scrollbar-thumb {
	  background-color: rgba(19, 163, 120, 0.7);
	  backdrop-filter: blur(13px);
	  border-radius: 10px;
	}

	html,
	body {
	  scroll-behavior: smooth;
	}

body {
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

tbody > tr:hover {
  background-color: rgb(241 245 249);
  }

.loader {
	border-top-color: #00d2a8;
	-webkit-animation: spinner .4s linear infinite;
	animation: spinner .4s linear infinite;
}
th,
td {
  padding: 15px 8px;
}

.table__pagination-item ~ .table__pagination-item {
    margin-left: 10px;
  }

  .table__pagination-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .table__pagination-item.active,
  .table__pagination-item.active:hover {
    background-color: rgb(16 185 129);
    color: #fff;
    font-weight: 600;
    

  }

  .table__pagination-item:hover {
    color: #fff;
    background-color: rgb(229 231 235);
  }

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes heart-beat {
	55% {
	  background-color: #fff;
	}
	60% {
	  background-color: #00d2a8;
	}
	65% {
	  background-color: #fff;
	}
	70% {
	  background-color: #00d2a8;
	}
	100% {
	  background-color: #fff;
	}
  }


@import "./custom-plugins.css";